@use "@/assets/commons.module.scss" as *;
$transDuration: 120ms;

.dropdown-menu {
  &.activator {
    border-radius: $radius-md;
  }
}

.select-menu.activator {
  width: 100%;
  > button {
    text-align: start;
    grid-template-columns: max-content 1fr max-content;
    width: 100%;
    padding: 8px 8px 8px 4px;
    color: $color5;
    background-color: $color1;
    .btn__content {
      display: block; // `text-overflow` only works on block containers;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.select-menu,
.dropdown-menu {
  &.activator .triangle {
    transition: transform $transDuration linear;
    font-size: 0.6rem;
  }
}

.active {
  &.dropdown-menu, &.select-menu {
    .triangle {
      transform: rotate(180deg);
    }
  }
  &.menu-container {
    transform: scaleY(1);
  }
}

%menu-container {
  // layout
  position: fixed;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 999;
  // shape
  border-radius: 0 0 $radius-md $radius-md;
  overflow: auto;

  background-color: $color1;
  transition: transform $transDuration ease-in-out;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  pointer-events: all;
  // Hide Scrollbars But Keep Functionality
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
  }
  >* {
    width: 100%;
    border-width: 1px 0;
    border-radius:  0;
    font-weight: 600;
    cursor: pointer;
    content-visibility: auto;
    .btn__content {
      display: block;
      text-overflow: ellipsis; // `text-overflow` only works on block containers;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  >*:not(.btn) {
    padding: 5px 10px;
    background-color: $color1;
    text-align: center;
    text-wrap: nowrap;
    box-sizing: border-box;
    &:hover,
    &:focus-visible {
      background-color: $color3;
    }
    @supports not selector(:focus-visible) {
      &:focus {
        background-color: $color3;
      }
    }
    >.bi::before {
      position: absolute;
      transform: translateX(-100%);
      z-index: 10;
    }
  }
}

.menu-container {
  @extend %menu-container;
}

.dropdown-menu.menu-container {
  display: flex;
  flex-direction: column;
}

.select-menu.menu-container > .btn{
  grid-template-columns: max-content 1fr max-content;
}

.menu-container.is-mobile {
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: none;
  > button {
    border-radius: 0;
  }
}
