@use "@/assets/variables.scss" as *;

$trans-duration: 120ms;

.dropdown-menu {
  border-radius: $radius-md;
}

.select {
  width: 100%;

  &__activator.btn {
    grid-template-columns: max-content 1fr max-content;

    width: 100%;
    padding: 4px 8px 4px 4px;

    color: $color5;
    text-align: start;

    background-color: $color1;

    .btn__content {
      overflow: hidden;
      display: block; // `text-overflow` only works on block containers;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.select,
.dropdown-menu {
  & .triangle {
    font-size: 0.6rem;
    transition: transform $trans-duration linear;
  }

  &--active .triangle {
    transform: rotate(180deg);
  }
}

%menu-content {
  scrollbar-width: none;  /* Hide scrollbar for Firefox */

  position: fixed;
  z-index: 999;
  inset: 0;
  transform-origin: top;

  overflow: auto;

  border-radius: 0 0 $radius-md $radius-md;

  background-color: $color1;
  box-shadow: 0 8px 16px 0 rgba(0 0 0 / 20%);

  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  &::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }
}

.select__content, .dropdown-menu__content {
  @extend %menu-content;
}

.dropdown-menu__content {
  display: flex;
  flex-direction: column;
}

.dropdown-menu__content--mobile, .select__content--mobile {
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: none;

  > div {
    height: 100%;
  }

  .dropdown-menu__option {
    display: flex;
    border-radius: 0;
  }
}

.dropdown-menu__option, .select__option {
  cursor: pointer;
  content-visibility: auto;

  overflow: hidden;
  display: block;

  width: 100%;
  padding: 5px 10px;
  border-width: 1px 0;
  border-radius:  0;

  font-weight: $font-weight-medium;
  text-align: center;
  text-overflow: ellipsis; // `text-overflow` only works on block containers;
  text-wrap: nowrap;
  white-space: nowrap;

  background-color: $color1;

  &:hover,
  &:focus-visible {
    background-color: $color3;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      background-color: $color3;
    }
  }

  >.bi::before {
    position: absolute;
    z-index: 10;
    transform: translateX(-100%);
  }

  &--selected {
    font-weight: $font-weight-bold;
  }
}
