@use "@/assets/commons.module.scss" as *;
$transDuration: 120ms;

.dropdown-menu {
  height: auto;
  border-radius: $radius-md;
  transition: padding-bottom $transDuration ease-in-out;

  .triangle::before {
    vertical-align: baseline !important;
    transition: transform $transDuration linear;
    height: 10px !important;
  }
}

.select-menu {
  width: 100%;
  button {
    height: auto;
    width: 100%;
    padding: 8px 8px 8px 4px;
    transition: padding-bottom $transDuration ease-in-out;
    color: $color5;
    background-color: $color1;
    .btn__content {
      display: block;
      text-overflow: ellipsis; // `text-overflow` only works on block containers;
      overflow: hidden;
      white-space: nowrap;
    }

    .triangle::before {
      vertical-align: baseline !important;
      transition: transform $transDuration linear;
      height: 10px !important;
    }
  }
}

.active {
  &.select-menu {
    background-color: $color2;
  }
  &.dropdown-menu, &.select-menu {
    border-radius: $radius-md $radius-md 0 0;
    .triangle::before {
      transform: rotate(180deg);
    }
  }
  &.menu-content-wrapper,
  &.mobile-menu-content-wrapper {
    transform: scaleY(1);
  }
}


// dropdown menu title
%content-wrapper {
  // layout
  position: fixed;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 999;
  // shape
  min-width: 100%;
  border-radius: 0 0 $radius-md $radius-md;
  overflow: auto;
  box-sizing: border-box;

  background-color: $color1;
  transition: transform $transDuration ease-in-out;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  pointer-events: all;
  // Hide Scrollbars But Keep Functionality
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
  }

  >* {
    display: block;
    width: 100%;
    font-weight: 600;
    padding: 5px 10px;
    border-width: 1px 0;
    background-color: $color1;
    text-align: center;
    text-wrap: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      background-color: $color3;
    }
    @supports not selector(:focus-visible) {
      &:focus {
        background-color: $color3;
      }
    }
    >.icon::before {
      position: absolute;
      transform: translateX(-100%);
      z-index: 10;
    }
  }
  @include small {
    box-shadow: none;
  }
}
.menu-content-wrapper {
  @extend %content-wrapper;
}

.mobile-menu-content-wrapper {
  @extend %content-wrapper;
  width: 100vw;
  left: auto !important;
  right: 0 !important;
}
