@use '@/assets/commons.module.scss' as *;

.overlay {
  @include overlay(fixed);
  display: flex;
  z-index: 999;
  pointer-events: none;
  > .overlay__content {
    pointer-events: auto;
    z-index: 1;
  }
}

.overlay__scrim {
  @include overlay(fixed);
  background-color: #0007;
  pointer-events: auto;
}

.dialog {
  align-items: center;
  justify-content: center;
}

.offcanvas {
  align-items: stretch;
  justify-content: right;
}

.tooltip {
  display: block;
  > .overlay__content {
    pointer-events: none;
  }
}
