@use '@/assets/commons.module.scss' as *;

.overlay {
  @include overlay(fixed);
  z-index: 999;
  > *:not(.overlay-scrim) {
    pointer-events: all;
  }
}

.overlay-scrim {
  @include overlay(fixed, $pointer: auto);
  background-color: #0008;
}
