@use "@/assets/commons.module.scss" as *;

$transDuration: 120ms;
.btn {
  // layout
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: "prepend content append";
  grid-template-columns: max-content auto max-content;
  column-gap: 4px;
  text-align: center;
  // shape;
  border: none;
  border-radius: $radius-lg;
  padding: 4px 8px;
  overflow: hidden;
  box-sizing: border-box;
  // style
  background-color: inherit;
  color: inherit;
  font-size: $font-md;
  font-weight: 600;

  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    > .btn__overlay {
      opacity: var(--overlay-hover-opacity);
    }
  }
  @supports not selector(:focus-visible) {
    &:focus {
      & > .btn__overlay{
        opacity: var(--overlay-hover-opacity);
      }
    }
  }
}

.btn.icon {
  aspect-ratio: 1 / 1;
}

.btn__overlay {
  @include overlay;
  background-color: currentColor;
  opacity: 0;
}

.btn__content,
.btn__prepend,
.btn__append {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__prepend {
  grid-area: prepend;
}

.btn__content {
  grid-area: content;
}

.btn__append {
  grid-area: append;
}

:root {
  --overlay-hover-opacity: 0.14;
}
