@use "sass:map";
@use "@/assets/commons.module.scss" as *;

$transDuration: 300ms;

$switch-md: ("h": 20px, "w": 35px);
.switch-wrapper {
  display: flex;
  align-items: center;
  >label:not(.hide-label) {
    display: inline-block;
    margin-left: 4px;
    color: $color5;
    cursor: pointer;
  }
  >input,
  >label.hide-label {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &:has(input:checked) .switch-slider {
    background-color: rgb(0, 200, 0);
    &::before {
      // distance betewwn left: 0; and right: 0; is
      //   dist = map.get($switch-md, "w") - 2 * $slider-margin
      // slider diameter diam = map.get($switch-md, "h") - 2 * $slider-margin
      transform: translateX(
        map.get($switch-md, "w") - map.get($switch-md, "h") // dist - diam
      );
    }
  }
}

$slider-margin: 4px;
.switch-slider {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  display: inline-block;
  position: relative;
  height: map.get($switch-md, "h");
  width: map.get($switch-md, "w");
  border-radius: $radius-lg;
  background-color: #ccc;
  transition: .4s;
  cursor: pointer;
  &:focus-visible::before,
  &:hover::before {
    box-shadow: 0px 0px 4px 8px #0003;
  }
  @supports not selector(:focus-visible) {
    &:focus::before {
      box-shadow: 0px 0px 4px 8px #0003;
    }
  }
}

.switch-slider::before {
  content: "";
  position: absolute;
  top: $slider-margin;
  bottom: $slider-margin;
  left: $slider-margin;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: white;
  transition: transform .4s;
}

// .switch-slider {
//   // position
//   position: absolute;
//   top: $slider-margin;
//   bottom: $slider-margin;
//   transform: translateX(0);
//   // shape
//   aspect-ratio: 1 / 1;
//   border-radius: 100%;
//   margin: 0 $slider-margin;

//   background-color: $color1;
//   transition-property: left transform;
//   transition-duration: $transDuration;
//   transition-timing-function: ease-in-out;
// }

// .switch-wrapper:has(input:checked) .switch-slider {
//   // distance betewwn left: 0; and right: 0; is
//   //   dist = map.get($switch-md, "w") - 2 * $slider-margin
//   // slider diameter diam = map.get($switch-md, "h") - 2 * $slider-margin
//   transform: translateX(
//     map.get($switch-md, "w") - map.get($switch-md, "h") // dist - diam
//     );
// }
