@use "@/assets/variables.scss" as *;

.container {
  @include mobile {
    width: 100vw;
  }

  display: flex;
  flex-direction: column;

  width: 300px;
  height: 100%;
  margin-left: auto;

  color: #fff;

  background-color: $color5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 34px;

  > h2 {
    user-select: none;

    margin: 0;
    padding: 0 10px;

    font-size: $font-lg;
    font-weight: $font-weight-bold;
    color: $color2;
    text-align: center;
  }

  :global(.btn) {
    padding: 4px;
    color: #fff;
  }
}

// Side
$menubar-height: 30px;
$append-plt-height: 30px;

.menuBar {
  user-select: none;
  position: relative;
  display: flex;
  height: $menubar-height;

  > button {
    border-radius: $radius-sm $radius-sm 0 0;
    color: #fff;
    background-color: $color4;
  }
  // Menubar button that be clicked/focused.
  .selected {
    color: #000  !important;
    background-color: $color1 !important;
  }
}

// Main bookmarks content.

.pageContent {
  overflow-y: auto;
  flex: 1;

  margin-block: 0;
  padding-inline-start: 0;

  list-style-type: none;

  background-color: $color1;
}

.delWrapper { // Remove favorite button
  position: absolute;
  top: 0;
  right: 0;
  left: auto;

  width: 30px;
  height: 100%;

  opacity: 0;
  background-color: #0007;

  button {
    @include position(center);

    position: absolute;
    font-size: $font-md;
    color: #fff;
  }

  &:focus-within {
    opacity: 1;
  }
}

%fav-block {
  overflow: hidden;
  margin: 5px;
  border-radius: 10px;
  list-style-type: none;

  &:hover .delWrapper {
    opacity: 1;
  }
}

.colorBlock {
  @extend %fav-block;

  position: relative;
  height: 40px;

  >:global(.btn) {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);

    width: auto;

    font-size: $font-md;
    font-weight: $font-weight-light;

    background-color: transparent;

    :global(.bi) {
      font-size: $font-x-sm;
      opacity: 0;
    }

    &:hover, &:focus-visible {
      :global(.bi) {
        opacity: 1;
      }
    }

    @supports not selector(:focus-visible) {
      &:focus :global(.bi) {
          opacity: 1;
      }
    }
  }
}

.paletteBlock {
  @extend %fav-block;

  display: flex;
  flex-direction: column;

  >div {
    position: relative;
    width: 100%;
    height: 40px;
  }

  >button {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    .caretWrapper {
      opacity: 1;
    }
  }
}

.caretWrapper {
  position: absolute;

  display: table-cell;

  height: 100%;

  opacity: 0;
  background-color: #0007;

  button {
    @include position(center);

    position: relative;
    font-size: $font-md;
    color: #fff;
  }

  &:focus-within {
    opacity: 1;
  }
}

.appendPlt {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: $append-plt-height;
  border-top: 1px solid black;
  border-radius: 0;

  color: #000;

  background-color: $color2;

  :global(.bi) {
    margin-right: 3px;
    font-size: $font-md;
  }
}
