@use "@/assets/variables.scss" as *;

// Containers
.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  height: 100%;
  width: 300px;
  color: #fff;
  background-color: $color5;
  @include mobile {
    width: 100vw;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  width: 100%;
  > h2 {
    margin: 0;
    // shape
    padding: 0px 10px 0px;
    // color and text
    color: $color2;
    text-align: center;
    font-size: $font-lg;
    font-weight: $font-weight-bold;
    user-select: none;
  }
  :global(.btn) {
    padding: 4px;
    color: #fff;
  }
}

// Side
$menubarHeight: 30px;
$appendPltHeight: 30px;
.menuBar {
  position: relative;
  display: flex;
  height: $menubarHeight;
  user-select: none;
  > button {
    border-radius: $radius-sm $radius-sm 0 0;
    color: #fff;
    background-color: $color4;
  }
  // Menubar button that be clicked/focused.
  .selected {
    color: #000  !important;
    background-color: $color1 !important;
  }
}
// Main bookmarks content.
.pageContent {
  flex: 1;
  overflow-y: auto;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  background-color: $color1;
}

.delWrapper { // Remove favorite button
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  left: auto;
  right: 0;
  opacity: 0;
  background-color: #0007;
  button {
    position: absolute;
    @include position(center);
    color: #fff;
    font-size: $font-md;
  }
  &:focus-within {
    opacity: 1;
  }
}

%favBlock {
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  list-style-type: none;

  &:hover {
    .delWrapper {
      opacity: 1;
    }
  }
}

.colorBlock {
  @extend %favBlock;
  position: relative;
  height: 40px;
  >:global(.btn) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: auto;
    font-size: $font-md;
    font-weight: $font-weight-light;
    background-color: transparent;
    :global(.bi) {
      font-size: $font-x-sm;
      opacity: 0;
    }
    &:hover, &:focus-visible {
      :global(.bi) {
        opacity: 1;
      }
    }
    @supports not selector(:focus-visible) {
      &:focus {
        :global(.bi) {
          opacity: 1;
        }
      }
    }
  }
}

.paletteBlock {
  @extend %favBlock;
  display: flex;
  flex-direction: column;
  >div {
    position: relative;
    height: 40px;
    width: 100%;
  }
  >button {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &:hover {
    .caretWrapper {
      opacity: 1;
    }
  }
}

.caretWrapper {
  position: absolute;
  display: table-cell;
  height: 100%;
  background-color: #0007;
  opacity: 0;
  button {
    position: relative;
    @include position(center);
    color: #fff;
    font-size: $font-md;
  }
  &:focus-within {
    opacity: 1;
  }
}

.appendPlt {
  // layout
  display: flex;
  align-items: center;
  justify-content: center;
  height: $appendPltHeight;
  width: 100%;

  border-top: 1px solid black;
  border-radius: 0;
  color: #000;
  background-color: $color2;
  user-select: none;
  :global(.bi) {
    margin-right: 3px;
    font-size: $font-md;
  }
}
