@use "@/assets/variables.scss" as *;

.contrastDialog {
  width: 320px;
  height: 400px;
}

.hex {
  padding: 2px 0 2px 8px;
  border-radius: 6px;
  font-size: $font-md;
}

.example {
  padding: 0 20px;

  h3 {
    margin: 12px 0 4px;
    font-size: $font-md;
  }

  div {
    user-select: none;
    width: 100%;
    padding: 2px 0;
    text-align: center;
  }
}
