@use "@/assets/commons.module.scss" as *;

.header {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  // position
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  // shape
  width: 100vw;
  height: var(--header-height);
  padding: 0 30px 0 60px;
  box-sizing: border-box;

  background-color: $color2;
  user-select: none;
  @include small {
    padding: 0 0 0 15px;
    justify-content: space-between;
  }
}

.title {
  font-size: var(--font-heading);
  font-weight: 900;
  color: $color5;
  margin: 0;
}

.menuWrapper {
  flex: 1 0 auto;
  color: $color5;
  @include small {
    position: relative;
    flex: 0 0 auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: 0;
    background-color: $color1;
  }
}

.menubarTitle {
  margin: 0;
  padding: 0;
  @include small {
    :global(.icon)::before {
      height: var(--header-height);
      padding: 4px;
      box-sizing: border-box;
      float: left;
    }
  }
}

.menubar {
  display: flex;
  gap: 4px;
  >:global(.icon)::before {
    margin-left: 0;
    height: 18px;
  }
  @include small {
    >div >li >* {
      width: 100%
    }
  }
}

%btn {
  :global(.icon)::before {
    margin-left: 0;
    height: 18px;
  }
  @include small {
    position: relative;
    margin: 0;
    // shape
    min-height: 30px;
    width: 100%;
    padding: 7px 0;
    &:hover, &:focus {
      background-color: $color3;
    }
  }
}
.listIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  @extend %btn;
}

.btnMenu {
  @extend %btn;
  >div {
    @include small {
      position: relative;
    }
  }
}
