@use "@/assets/commons.module.scss" as *;

// Containers
.favOffcanvas {
  position: fixed;
  display: inline;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: $color2;
  z-index: 1;
  pointer-events: all;
  @include mobile {
    width: 100vw;
  }
}

// Side
$menubarHeight: 45px; 
$appendPltHeight: 30px;
.menuBar {
  position: relative;
  display: flex;
  height: $menubarHeight;
  padding: 0 5px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  user-select: none;
  >button:not(:last-of-type) {
    border-radius: 7px;
    &:hover, &:focus {
      background-color: $color1;
    }
  }
  >button {
    width: min-content;
    margin: auto 3px auto 0;
    padding: 3px 7px;
    cursor: pointer;
  }
  >button:last-of-type {
    :global(.icon) {
      height: 17px;
    }
  }
  // Menubar button that be clicked/focused.
  .selected {
    background-color: $color1;
    outline: solid 1px black;
  }  
}
// Main bookmarks content.
.pageContent {
  height: calc(100% - #{$menubarHeight + $appendPltHeight});
  overflow-y: auto;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.delWrapper { // Remove favorite button
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  left: auto;
  right: 0;
  opacity: 0;
  background-color: #0007;
  user-select: none;
  button {
    @extend %center;
    height: 13px;
    filter: invert(1);
  }
}

%favBlock {
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  list-style-type: none;

  &:hover .delWrapper {
    opacity: 1;
  }
}

.colorBlock {
  @extend %favBlock;
  position: relative;
  height: 40px;
  >:global(.btn) {
    @extend %verticalCenter;
    left: 8px;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    :global(.icon) {
      height: 13px;
      opacity: 0;
      margin-right: 2px;
    }
    :global(.icon)::before {
      height: 12px;
    }
  }
  &:hover >button :global(.icon) {
    opacity: 1;
  }
}

.paletteBlock {
  @extend %favBlock;
  display: flex;
  flex-direction: column;
  >div {
    position: relative;
    height: 40px;
    width: 100%;
  }
  >button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }
  &:hover .caretWrapper {
    opacity: 1;
  }
}

.caretWrapper {
  position: absolute;
  display: table-cell;
  height: 100%;
  width: fit-content;
  background-color: #0007;
  opacity: 0;
  :global(.icon) {
    height: 20px;
    filter: invert(1);
  }
  button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%)
  }
}

.appendPlt {
  // layout
  display: flex;
  align-items: center;
  justify-content: center;
  height: $appendPltHeight;
  width: 100%;

  border-top: 1px solid black;
  background-color: $color2;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  :global(.icon) {
    margin-right: 3px;
    height: calc(var(--font-body) + 3px);
    vertical-align: text-bottom;
  }
}
