
.icon {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.icon::before {
  content: '';
  display: inline-block;
  height: 100%;
  aspect-ratio: 1 / 1;
}

%icon {
  background-size: cover;
  background-repeat: no-repeat;
}

.i-close::before {
  @extend %icon;
  background-image: url('@/assets/icons/x-lg.svg');
}

.i-delete::before {
  @extend %icon;
  background-image: url('@/assets/icons/trash3-fill.svg');
}

.i-lock::before {
  @extend %icon;
  background-image: url('@/assets/icons/lock-fill.svg');
}

.i-unlock::before {
  @extend %icon;
  background-image: url('@/assets/icons/unlock-fill.svg');
}

.i-fav::before {
  @extend %icon;
  background-image: url('@/assets/icons/star-fill.svg');
}

.i-unfav::before {
  @extend %icon;
  background-image: url('@/assets/icons/star.svg');
}

.i-draggable::before {
  @extend %icon;
  background-image: url('@/assets/icons/arrows.svg');
}

.i-refresh::before {
  @extend %icon;
  background-image: url('@/assets/icons/arrow-clockwise.svg');
}

.i-edit::before {
  @extend %icon;
  background-image: url('@/assets/icons/sliders.svg');
}

.i-copy::before {
  @extend %icon;
  background-image: url('@/assets/icons/copy.svg');
}

.i-sort::before {
  @extend %icon;
  background-image: url('@/assets/icons/sort-down.svg');
}

.i-blend::before {
  @extend %icon;
  background-image: url('@/assets/icons/file-earmark-plus.svg');
}

.i-insert::before {
  @extend %icon;
  background-image: url('@/assets/icons/arrows-expand-vertical.svg');
}

.i-fav-pallete::before {
  @extend %icon;
  background-image: url('@/assets/icons/bookmark-plus.svg');
}

.i-unfav-pallete::before {
  @extend %icon;
  background-image: url('@/assets/icons/bookmark-dash.svg');
}

.i-bookmarks::before {
  @extend %icon;
  background-image: url('@/assets/icons/bookmarks.svg');
}

.i-list::before {
  @extend %icon;
  background-image: url('@/assets/icons/list.svg');
}

.i-caret-left::before {
  @extend %icon;
  background-image: url('@/assets/icons/caret-left-fill.svg');
}

.i-caret-down::before {
  @extend %icon;
  background-image: url('@/assets/icons/caret-down-fill.svg');
}

.i-setting::before {
  @extend %icon;
  background-image: url('@/assets/icons/gear.svg');
}

.i-play::before {
  @extend %icon;
  background-image: url('@/assets/icons/play.svg');
}

.i-pause::before {
  @extend %icon;
  background-image: url('@/assets/icons/pause-fill.svg');
}
