@use "@/assets/commons.module.scss" as *;

.cardContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  border-style: none solid;
  border-color: transparent;
  box-sizing: border-box;
  transition-property: left, width, background-color;
  transition-duration: 0s;
  &:hover .toolContainer {
    transform: translate(-50%) scaleX(1);
  }
  &.first {
    border-left: none !important;
  }
  &.last {
    border-right: none !important;
  }
  @include small {
    display: flex;
    align-items: center;
    border-style: solid none;
    transition-property: top, height, background-color;
    &:hover .toolContainer {
      transform: none;
    }
    &.first {
      border-top: none !important;
    }
    &.last {
      border-bottom: none !important;
    }
  }
}

.toolContainer {
  @extend %horizontalCenter;
  width: max-content;
  overflow: hidden;
  bottom: 37%;
  user-select: none;
  transform: translate(-50%) scaleX(0);
  box-sizing: border-box;
  
  >:global(.btn) {
    margin: 12px auto;
    padding: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    >:global(.btn__content) {
      height: 27px;
      padding: 8px;
    }
    &:last-of-type {
      margin-bottom: 24px;
    }
  }
  @include desktop {
    bottom: 38%;
  }
  @include laptop {
    >:global(.btn) {
      margin: 8px auto 0;
    }
  }
  @include small {
    flex: 1 0 240px; // Total icon width + margin
    display: block;
    position: static;
    padding-left: 20px;
    padding-right: 20px;
    transform: none;
    >:global(.btn) {
      display: inline-block;
      margin: 0px 4px;
      >:global(.btn__content) {
        height: 20px;
        padding: 8px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  @include mobile {
    flex: 0 0 50%;
    >:global(.btn) {
      margin: 5px 10px;
      >:global(.btn__content) {
        height: 17px;
      }
    }
  }
}

.textDisplay {
  @extend %horizontalCenter;
  top: 63%;
  width: 50%;
  text-align: center;
  >div {
    width: max-content;
    cursor: pointer;
    :global(.icon) {
      opacity: 0;
    }
    &:hover :global(.icon) {
      opacity: 1;
    }
  }

  @include small {
    flex: 1 1 auto;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}

%textPosition {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-wrap: nowrap;
}
@mixin textSize($icon-height, $icon-margin, $font-size) {
  font-size: $font-size;
  :global(.icon)::before {
    position: absolute;
    top: 50%;
    transform: translate(calc(-100% - #{$icon-margin}), -50%);
    height: $icon-height;
  }
}

.hexText {
  @extend %textPosition;
  @include textSize(calc(var(--font-subheading) - 6px), 4px, var(--font-subheading));
}

.detailText {
  @extend %textPosition;
  @include textSize(calc(var(--font-sm) - 4px), 3px, var(--font-sm));
  margin-top: 4px;
}

.editor {
  // position
  @extend %horizontalCenter;
  top: 63%;
  z-index: 999;
  // shape
  width: 150px;
  padding: 5px 10px;
  border-radius: $radius-lg;
  box-sizing: border-box;

  background-color: $color1;
  pointer-events: auto;
  >* {
    width: 100%;
  }
  >label:first-of-type {
    display: block;
    height: 0;
    width: 100%;
    border-radius: $radius-lg;
    margin-bottom: 7px;
    text-indent: -200vw; // hide text
  }
  @include small {
    top: auto;
    bottom: 0;
    height: auto;
    width: 100%;
    max-width: 500px;;
    >label:first-of-type {
      height: 30px;
      margin-bottom: 10px;
    }
  }
}

.nameSelect {
  margin: 8px 0;
}

.nameSelectContent {
  padding: 0;
  :global(.btn) {
    height: 20px;
    text-align: start !important;
    span {
      display: inline-block;
      height: 12px;
      margin-right: 4px;
      aspect-ratio: 1 / 1;
      outline: 1px solid black;
    }
    &:hover,
    &:focus-visible {
      :global(.btn__overlay) {
        opacity: 0;
      }
    }
    @supports not selector(:focus-visible) {
      &:focus :global(.btn__overlay) {
        opacity: 0;
      }
    }
  }
}

.hexInput {
  display: inline;
  border-radius: $radius-md;
  border-width: 1px;
  padding: 0px 8px;
  margin: 0 auto 6px;
  box-sizing: border-box;
  font-size: var(--font-subheading);
  user-select: text;
  cursor: text;
  &:focus-visible {
    outline: 1px solid black;
  }

  @include small {
    margin: 0 auto 7px;
    bottom: auto;
  }
}

.sliderContainer {
  display: inline-block;
  font-size: var(--font-sm);
  >div {
    width: 100%;
    margin-bottom: 5px;
  }
}
