@use "@/assets/commons.module.scss" as *;

.cardContainer {
  //layout
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  // shape
  padding-bottom: 120px;
  height: 100%;
  width: 100%;
  border-style: none solid; // horizontal derrection
  border-color: transparent;
  //
  transition-property: left, width, background-color;
  transition-duration: 0s;
  overflow: hidden;
  &:hover .toolContainer,
  &:focus-within .toolContainer {
    transform: scaleX(1);
  }
  &.first {
    border-top: none !important;
    border-left: none !important;
  }
  &.last {
    border-right: none !important;
    border-bottom: none !important;
  }
  @include small {
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding-bottom: 0;
    border-style: solid none; // vertical derrection
    transition-property: top, height, background-color;
    &:hover .toolContainer {
      transform: none;
    }
  }
}

.toolContainer {
  // layout
  display: flex;
  flex-direction: column;
  gap: 12px;
  // position
  position: relative;
  transform: scaleX(0);
  //
  width: min-content;

  :global(.btn) {
    padding: 8px;
    font-size: $font-x-lg;
    border-radius: 100%;
  }
  @include desktop {
    bottom: 38%;
  }
  @include laptop {
  }
  @include small {
    // layout
    flex: 1;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    // position
    position: static;
    transform: none;
    margin: auto;
    >div {
      flex: 1 1 0;
      display: flex;
      justify-content: space-around;
      :global(.btn) {
        padding: 4px;
        font-size: $font-md;
      }
    }
  }
  @include mobile {
    flex: 1 0 20%;
    >div {
      flex: 1 1 100%;
    }
  }
}

.textDisplay {
  @include small {
    flex: 0 0 30%;
    position: relative;
  }
  @include mobile {
    flex: 0 0 40%;
  }
}

%textPosition {
  position: relative;
  width: fit-content;
  margin: auto;
  button {
    padding: 0;
    text-wrap: nowrap;
  }
  :global(.bi)::before {
    position: absolute;
    top: 50%;
    opacity: 0;
    cursor: pointer;
  }
  &:hover,
  &:focus-within {
    :global(.bi)::before {
      opacity: 1;
    }
  }
}
@mixin textSize($font-size, $icon-size, $icon-margin) {
  >button {
    font-size: $font-size !important;
  }
  :global(.bi)::before {
    transform: translate(calc(-100% - #{$icon-margin}), -50%);
    font-size: $icon-size;
  }
}

.hexText {
  @extend %textPosition;
  @include textSize($font-x-lg, $font-sm, 5px);
  margin-bottom: 6px;
}

.detailText {
  @extend %textPosition;
  @include textSize($font-sm, $font-x-sm, 4px);
}
@include small {
  .hexText {
    @include textSize($font-lg, $font-sm, 4px);
  }
  .detailText {
    @include textSize($font-sm, $font-x-sm, 3px);
    margin-top: 4px;
  }
}
@include mobile {
  .hexText {
    @include textSize($font-md, $font-sm, 4px);
  }
  .detailText {
    @include textSize($font-x-sm, $font-x-sm, 3px);
    margin-top: 4px;
  }
}

.editor {
  // position
  @extend %horizontalCenter;
  bottom: 10px;
  // shape
  width: 150px;
  padding: 4px 12px;
  border-radius: $radius-lg;

  background-color: $color1;
  >* {
    width: 100%;
  }
  >label:first-of-type {
    display: block;
    height: 0;
    width: 100%;
    border-radius: $radius-lg;
    margin-bottom: 7px;
    text-indent: -200vw; // hide text
  }
  @include small {
    bottom: 0;
    width: 100%;
    max-width: 500px;
    >label:first-of-type {
      height: 30px;
      margin-bottom: 10px;
    }
  }
}

.nameSelect {
  margin: 8px 0;
}

.nameSelectContent {
  padding: 0;
  :global(.btn) {
    height: 20px;
    text-align: start !important;
    span {
      display: inline-block;
      height: 12px;
      margin-right: 4px;
      aspect-ratio: 1 / 1;
      outline: 1px solid black;
    }
  }
}

.hexInput {
  display: inline;
  border-radius: $radius-md;
  border-width: 1px;
  padding: 0px 8px;
  margin: 0 auto 6px;
  font-size: $font-lg;
  user-select: text;
  cursor: text;
  &:focus-visible {
    outline: 1px solid black;
  }
  @supports not selector(:focus-visible) {
    &:focus {
      outline: 1px solid black;
    }
  }

  @include small {
    margin: 0 auto 7px;
    bottom: auto;
  }
}

.sliderContainer {
  display: inline-block;
  font-size: $font-sm;
  >div {
    width: 100%;
    margin-bottom: 5px;
  }
}
