@use "@/assets/variables.scss" as *;

.cardContainer {
  position: absolute;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
  padding-bottom: 120px;
  border-color: transparent;
  border-style: none solid; // horizontal derrection

  transition-duration: 0s;
  transition-property: left, width, background-color;

  &:hover .toolContainer,
  &:focus-within .toolContainer {
    transform: scaleX(1);
  }

  &.first {
    border-top: none !important;
    border-left: none !important;
  }

  &.last {
    border-right: none !important;
    border-bottom: none !important;
  }

  @include small {
    flex-direction: row;
    gap: 0;
    align-items: center;

    padding-bottom: 0;
    border-style: solid none; // vertical derrection

    transition-property: top, height, background-color;

    &:hover .toolContainer {
      transform: none;
    }
  }
}

.toolContainer {
  position: relative;
  transform: scaleX(0);

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: min-content;

  :global(.btn) {
    padding: 8px;
    border-radius: 100%;
    font-size: $font-x-lg;
  }

  @include desktop {
    bottom: 38%;
  }

  @include small {
    position: static;
    transform: none;

    flex: 1;
    flex-flow: row wrap;
    gap: 0;

    margin: auto;


    >div {
      display: flex;
      flex: 1 1 0;
      justify-content: space-around;

      :global(.btn) {
        padding: 4px;
        font-size: $font-md;
      }
    }
  }

  @include mobile {
    flex: 1 0 20%;

    >div {
      flex: 1 1 100%;
    }
  }
}

.textDisplay {
  @include small {
    position: relative;
    flex: 0 0 30%;
  }

  @include mobile {
    flex: 0 0 40%;
  }
}

%text-position {
  position: relative;
  width: fit-content;
  margin: auto;

  button {
    padding: 0;
    text-wrap: nowrap;
  }

  :global(.bi)::before {
    cursor: pointer;
    position: absolute;
    top: 50%;
    opacity: 0;
  }

  &:hover,
  &:focus-within {
    :global(.bi)::before {
      opacity: 1;
    }
  }
}

@mixin text-size($font-size, $icon-size, $icon-margin) {
  >button {
    font-size: $font-size !important;
  }

  :global(.bi)::before {
    transform: translate(calc(-100% - #{$icon-margin}), -50%);
    font-size: $icon-size;
  }
}

.hexText {
  @extend %text-position;

  @include text-size($font-x-lg, $font-sm, 5px);

  margin-bottom: 6px;
}

.detailText {
  @extend %text-position;

  @include text-size($font-sm, $font-x-sm, 4px);
}

@include small {
  .hexText {
    @include text-size($font-lg, $font-sm, 4px);
  }

  .detailText {
    @include text-size($font-sm, $font-x-sm, 3px);

    margin-top: 4px;
  }
}

@include mobile {
  .hexText {
    @include text-size($font-md, $font-sm, 4px);
  }

  .detailText {
    @include text-size($font-x-sm, $font-x-sm, 3px);

    margin-top: 4px;
  }
}

.editor {
  position: absolute;
  bottom: 10px;

  width: 150px;
  padding: 4px 12px;
  border-radius: $radius-lg;

  background-color: $color1;

  >* {
    width: 100%;
  }

  >label:first-of-type {
    display: block;

    width: 100%;
    height: 0;
    margin-bottom: 7px;
    border-radius: $radius-lg;

    text-indent: -200vw; // hide text
  }

  @include small {
    bottom: 0;
    width: 100%;
    max-width: 500px;

    >label:first-of-type {
      height: 30px;
      margin-bottom: 10px;
    }
  }
}

.nameSelect {
  margin: 8px 0;
}

.nameSelectContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    width: 16px;
    height: 16px;
    margin: 4px;
    padding: 0 !important;

    outline: 1px solid #999;
  }
}

.sliderContainer {
  display: inline-block;
  font-size: $font-sm;

  >div {
    width: 100%;
    margin-bottom: 5px;
  }
}
