@use "@/assets/variables.scss" as *;

.container {
  position: relative;
  width: 100%;
  height: calc(var(--app-height) - var(--header-height));
  margin-top: var(--header-height);
}

.insertOverlay {
  z-index: 0;
  top: var(--header-height);
}

.insertWrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  contain: layout;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40%;
  padding: 0 12px;

  button {
    padding: 8px;
    border-radius: $radius-rounded;

    font-size: $font-x-lg;

    opacity: 0;
    background-color: #fff;
  }

  &:hover button, &:focus-within button {
    opacity: 1;
  }

  @include small {
    left: 50%;
    width: auto;
    height: auto;
    padding: 0;

    button {
      transform: rotate(90deg);
      padding: 4px;
      font-size: $font-sm;
      opacity: 0.7;
    }
  }
}

.dragging {
  will-change: left, top;
  z-index: 1;
  box-shadow: 0 0 10px black;
}
