
@use "@/assets/variables.scss" as *;

.genDialog {
  height: 340px;

  > :global(.dialog__content) {
    padding: 12px 12px 8px;
  }
}

$color-div-size: 25px;
$color-div-margin: 4px;

.palette {
  min-width: #{$color-div-size * 8 + $color-div-margin * 7}; // 8 = maximum card num
  height: 30px;
  text-align: center;

  button {
    position: relative;

    display: inline-block;

    aspect-ratio: 1;
    height: $color-div-size;
    border-radius: $radius-rounded;
  }

  * + * {
    margin-left: $color-div-margin;
  }
}

.numbers {
  width: 100%;

  input {
    width: 100%;
    padding: 2px 0 2px 8px;
    border-radius: $radius-md;
    background-color: #ddd;
  }
}
