@use 'sass:math';

// Small vieport
$view-sm: 900px;

%verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
%horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position ($align: expand) {
  @if ($align == expand) {
    inset: 0;
  } @else if ($align == center) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin overlay($position: absolute, $align: expand) {
  position: $position;
  @include position($align);
}

// media
@mixin desktop {
  @media only screen and (min-width: 1960px) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (max-width: 1440px) {
    @content;
  }
}
@mixin small {
  @media only screen and (max-width: $view-sm) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 451px) {
    @content;
  }
}

@function round($num, $digit: 0) {
  $multipler: math.pow(10, $digit);
  @return math.div(math.round($num * $multipler), $multipler)
}

// Font weighht
$normal-weight: 600;
$bold-weight: 800;

// Border-radius
$radius-xl: 15px;
$radius-lg: 10px;
$radius-md: 7px;
$radius-sm: 5px;

$font-x-sm: 0.75rem;
$font-sm: 0.825rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-x-lg: 1.5rem;

// Color scheme
$color1: #FAFAFA;
$color2: #EAEAEA;
$color3: #C0C0C0;
$color4: #707070;
$color5: #1D1D57;

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
}
