@use './variables.scss' as *;
@use './transition.scss' as *;

#app {
  height: 100%;
  width: 100%;
}

#main {
  margin-top: var(--header-height);
  height: calc(var(--app-height) - var(--header-height));
  width: 100%;
}

#overlay-container {
  display: contents;
  contain: layout;
  @include overlay(fixed);
}

.preload * {
  animation-duration: 0s !important;
  transition: all 0s !important;
}

.spacer {
  flex: 1;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
}

.field {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
}

.ripple {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    @include overlay;
    visibility: hidden;
  }
  &:not(:active):before, &:not(:focus):before {
    animation: ripple 1s ease-in-out;
    transition: visibility 1s step-end; // prevent triggering animation when page onload
  }
  &:active:before, &:focus:before {
    visibility: visible;
  }
}
