@use './commons.module.scss' as *;
@use './transition.scss' as *;

#app {
  height: 100%;
  width: 100%;
}

#main {
  display: inline-block;
  position: relative;
  top: var(--header-height);
  height: calc(var(--app-height) - var(--header-height));
  width: 100%;
}

#overlay-container {
  display: contents;
  contain: layout;
  @include overlay(fixed);
}

.spacer {
  flex: 1;
}

.field {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

[class~="ripple"], [class*="ripple-"] {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    @include overlay;
  }
}

.ripple {
  &:before {
    visibility: hidden;
  }
  &:not(:active):before {
    animation: ripple 1s ease-in-out;
    transition: visibility 1s step-end; // prevent triggering animation when page onload
  }
  &:active:before {
    visibility: visible;
  }
}

.ripple-focus {
  &:before {
    visibility: hidden;
  }
  &:not(:focus):before {
    animation: ripple 1s ease-in-out;
    transition: visibility 1s step-end; // prevent triggering animation when page onload
  }
  &:focus:before {
    visibility: visible;
  }
}

.ripple-hover {
  &:hover:before {
    animation: ripple 1s 1;
  }
}
