@use './variables.scss' as *;

body {
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: $font-weight-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
}

:root{
  --app-height: 100%;
  --small-view: #{$view-sm};
  --header-height: 60px;

  @include small {
    --header-height: 45px;
  }
}


// Reset
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: 0;
  font-weight: $font-weight-medium;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

input {
  padding: 0;
  border: 0;
  outline: 1px solid #0004;

  &:focus-visible {
    outline: 1px solid $color5;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: 1px solid $color5;
    }
  }
}
