@use './variables.scss' as *;

$duration: 250ms;

@keyframes slide-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.slide-x-enter-active {
  animation: slide-x $duration reverse;
}
.slide-x-leave-active {
  animation: slide-x $duration;
}


@keyframes slide-y {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-y-enter-active {
  animation: slide-y $duration;
}
.slide-y-leave-active {
  animation: slide-y $duration reverse;
}

@keyframes ripple {
  0% {
    opacity: .5;
    background: radial-gradient(circle, #fff 1%, transparent 1%) center/100%;
  }
  100% {
    opacity: 0;
    background: radial-gradient(circle, #fff 1%, transparent 1%) center/15000%;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out-enter-active {
  animation: fade $duration reverse;
}
.fade-out-leave-active {
  animation: fade $duration;
}
