@use 'sass:math';

@mixin position($align: expand) {
  @if $align == expand {
    inset: 0;
  } @else if $align == center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin overlay($position: absolute, $align: expand) {
  @include position($align);

  position: $position;
}

// Small vieport
$view-sm: 900px;

// media
@mixin desktop {
  @media only screen and (width >= 1960px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (width >= 1440px) {
    @content;
  }
}

@mixin small {
  @media only screen and (width <= #{$view-sm}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (width <= 450px) {
    @content;
  }
}

@function round($num, $digit: 0) {
  $multipler: math.pow(10, $digit);

  @return math.div(math.round($num * $multipler), $multipler)
}

// font-weighht
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Border-radius
$radius-rounded: 50%;
$radius-xl: 15px;
$radius-lg: 10px;
$radius-md: 7px;
$radius-sm: 5px;

// Text
$font-x-sm: 0.75rem;
$font-sm: 0.825rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-x-lg: 1.5rem;

// Color scheme
$color1: #FAFAFA;
$color2: #EAEAEA;
$color3: #C0C0C0;
$color4: #707070;
$color5: #1D1D57;
